<div class="wrapper">
    <div class="sidebar">
        <h2>Citas Medicas</h2>
        <ul>
            <li><a class="nav-link" [routerLink]="['../home']"><i class="fas fa-home"></i>Inicio</a></li>
            <li><a class="nav-link" [routerLink]="['../citas']"><i class="fas fa-calendar-alt"></i>Citas</a></li>
            <li><a class="nav-link" [routerLink]="['../pacientes']"><i class="fas fa-user-tie"></i>Pacientes</a></li>
            <li><a class="nav-link" [routerLink]="['../medicos']"><i class="fas fa-user-nurse"></i>Medicos</a></li>
            <li><a class="nav-link" [routerLink]="['../reportes']"><i class="fas fa-bars"></i>Reportes de citas</a></li>
            <li><a class="nav-link" [routerLink]="['../usuarios']"><i class="fas fa-users"></i>Usuarios</a></li>
            
        </ul> 
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>